{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static 'js/geolocation.js'%}" type="text/javascript"></script>
<script type="text/javascript">
    class_pk = {{class.pk}};
    party_list = {{party_list|safe}};
</script>
<script src="{% static 'js/class_details.js'%}" type="text/javascript"></script>
<div class="grid_12 details_panel">
    <h1>{{class.get_name}}</h1>
    {% if user.is_authenticated %}
    <div class="party_details_attend">
        <div id="add_this_class" class="gray_button fright {% if joined %}hidden{% endif %}">Add This Class</div>
        <div id="drop_this_class" class="gray_button fright {% if not joined %}hidden{% endif %}">Drop This Class</div>
    </div>
    {% endif %}
</div>
<div class="grid_12 details_panel">
    <div class="page_header clearfix">
        <img src="{% static 'images/css/icons/gear32.png'%}"/>
        <span class="header_text" style="width: 420px;">Class Details</span>
    </div>
</div>
<div class="clear"></div>
<div class="grid_8 details_panel">
    <div class="whitebox clearfix" style="height: 250px;">
        <img src="{{class.get_image}}" class="details_image" />
        <div class="page_details_scroll_container">
            <ul class="page_details">
                <li><h3>Location:</h3>moo</li>
                <li><h3>Room:</h3>moo2</li>
            </ul>
        </div>
        <a href="{% url 'main.party_views.party_create'%}?class={{ class.pk }}" class="fright gray_button">Host a Party</a>
    </div>
</div>
<div class="grid_4">
    <div id="mapdiv" style="width: 300px; height: 150px;"></div>
    <div class="space_20"></div>
    <div class="center" style="font-size: 24px;"><b>{{num_parties}}</b> {% if num_parties = 1 %}party{%else%}parties{%endif%} on the schedule</div>
    <div class="space_20"></div>
    <a href="{{class.map_view}}" class="gray_button hcenter">Switch to Map View</a>
</div>
<div class="clear"></div>
<div class="space_60"></div>
<div class="grid_8">
    <div>
        {% with comment_header="Chatter" %}
        {% include 'main/modules/comment_list.html' %}
        {% endwith %}
    </div>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with feed=newsfeed %}
        {% include 'main/modules/feed_list.html' %}
        {% endwith %}
    </div>
</div>
<div id="right_col" class="grid_4">
    <div>
        {% with people=admins %}
        {% include 'main/modules/people_list.html' %}
        {% endwith %}
    </div>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with people=all_attendees %}
        {% include 'main/modules/people_list.html' %}
        {% endwith %}
    </div>
</div>
{% endblock %}
