{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block head %}
{{ block.super}}
{% endblock %}

{% block main_content %}
<div id="date_nav_bar" class="grid_12">
    {% for i in day_list %}
    <div id="date_{{ forloop.counter0 }}" class="grid_2{% if forloop.counter0 = 0 %} alpha{% endif %}{% if forloop.counter0 = 5 %} omega{% endif %}"><a {% if forloop.counter0 = selected_day %}class="selected"{% endif %}>{{ i }}</a></div>
    {% endfor %}
</div>
{% include 'main/search/party_result_list.html' %}
<script src="{% static 'js/parties_by_date.js'%}" type="text/javascript"></script>
{% endblock %}
