{% load url from future %}{% load staticfiles %}
<div class="attend_button_container not_initialized clearfix">
    <span class="pk" style="display: none;">{{pk}}</span>
    <span class="attend_button" style="display: none;"><div class="fleft">You are not signed up</div><span class="gray_button">Sign me up!</span></span>
    <span class="already_attending" style="display:none;"><div style="float: left" >You are attending this event: </div><div class="gray_button undo_button">Unregister</div></span>
    <span class="attend_error" style="display:none;">Error in contacting server</span>
</div>
<script type="text/javascript">
    if (!window.attend_button_loaded){
        $.ajax({
url:"{% static 'js/attend_button.js' %}",
dataType:"script",
success: function(data){
$(document).ready(init_attend_buttons);
window.attend_button_loaded=true;
},
});
}else{
    $(document).ready(init_attend_buttons);
}
</script>
