{% load url from future %}{% load staticfiles %}

<span class="title">{{title}}</span>
<div class="content_box">
    <span class="message">You are signed up for:</span>
    <h3>{{event_name}}</h3>
<ul class="event">
    <li><b>Where:</b> {{event_location}}</li>
    <li><b>When:</b> {{event_time}}</li>
</ul>
</div>
<a href="{% url 'main.party_views.party_details' pk=pk %}" class="gray_button fleft details">Go to Party Page</a>
<span class="facebook_button"><span>Share with:</span><img src="{% static 'images/css/facebook_name.png' %}" /></span>
