{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static 'js/geolocation.js'%}" type="text/javascript"></script>
<script type="text/javascript">
    loc = new google.maps.LatLng({{party.lat}},{{party.lng}});
</script>
<script src="{% static 'js/party_details.js'%}" type="text/javascript"></script>
<div class="grid_12 details_panel">
    <h1>{{party.get_name}}</h1>
    <div class="party_details_attend">
        {% with pk=party.pk %}
        {% include 'main/party/attend_button.html' %}
        {% endwith %}
    </div>
</div>
<div class="grid_12 details_panel">
    <div class="page_header clearfix">
        <img src="{% static 'images/css/icons/gear32.png'%}"/>
        <span class="header_text" style="width: 420px;">Party Details</span>
        <div class="fright">
            {% with pk=party.pk %}
            {% include 'main/party/invite_friends.html' %}
            {% endwith %}
        </div>
        {% if isadmin %}
        <div class="fright">
            <a href="{% url 'main.party_views.edit_party' pk=party.pk %}" class="gray_button fright" style="margin-right: 10px">Edit Party</a>
            <a a href="{% url 'main.party_views.party_cancel' pk=party.pk %}" class="gray_button fright {% if not party.active %}hidden{%endif%}" style="margin-right: 10px">Cancel Party</a>
            <a href="{% url 'main.party_views.party_uncancel' pk=party.pk %}" class="gray_button fright {% if party.active %}hidden{%endif%}" style="margin-right: 10px">Un-Cancel Party</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="clear"></div>
<div class="grid_8 details_panel">
    <div class="whitebox clearfix" style="min-height: 300px">
        <img src="{{party.get_image}}" class="details_image" />
        <div class="page_details_scroll_container">
            <ul class="page_details">
                <li><h3>Location:</h3>{{party.location}}</li>
                <li><h3>Room:</h3>{{party.room}}</li>
                <li><h3>Date:</h3>{{party.get_day}}</li>
                <li><h3>Time:</h3>{{party.get_start_time}} to {{party.get_end_time}}</li>
                <li><h3>Agenda:</h3>{{party.agenda}}</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="space_10"></div>
        <div class="page_subheader clearfix" style="margin: 5px 20px 0px 20px;">
            <img src="{{party.class_obj.get_image}}"/>
            <span class="header_text" style="width: 360px;" title="{{party.class_obj.get_name}}">{{party.class_obj.get_name}}</span>
            <a href="{% url 'main.class_views.class_details' pk=party.class_obj.pk %}" class="gray_button fright">Go to Class Page</a>
        </div>
        <div>
            <div class="clear"></div>
            <span class="detail_text">
                <ul class="number_list hcenter clearfix">
                    {% for c in party.class_obj.get_meta %}
                    <li>{{ c.number }}</li>
                    {% endfor %}
                </ul>
            </span>
        </div>
    </div>
</div>
<div id="right_col" class="grid_4">
    <div id="mapdiv" style="width: 300px; height: 300px;"></div>
</div>
<div class="clear"></div>
<div class="space_60"></div>
<div class="grid_8">
    <div>
        {% with comment_header="Chatter" %}
        {% include 'main/modules/comment_list.html' %}
        {% endwith %}
    </div>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with feed=newsfeed %}
        {% include 'main/modules/feed_list.html' %}
        {% endwith %}
    </div>
</div>
<div class="grid_4">
    <div>
        {% with people=admins %}
        {% include 'main/modules/people_list.html' %}
        {% endwith %}
    </div>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with people=all_attendees %}
        {% include 'main/modules/people_list.html' %}
        {% endwith %}
    </div>
</div>
{% endblock %}
