
{% load url from future %}{% load staticfiles %}
    <div class="people_header clearfix">
    <img src="{% static 'images/css/icons/users32.png'%}"/>
        <span class="header_text">{{people_header}}</span>
    </div>
    <ul class="people_list">
        {% for p in people_list %}
        <li class="clearfix">
        <a class="user_select clearfix" href="{{p.get_link}}">
            <img src="{{p.user_info.get_prof_pic}}" class="user_thm" />
            <span class="people_text">{{p.get_name}}</span>
        </a>
        </li>
        {% endfor %}
    </ul>
