{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block head %}
{{block.super}}
<script type="text/javascript" src="{% static 'js/front_page.js' %}"></script>
<link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
{% include 'django_facebook/_facebook_js.html' %}
{% endblock %}

{% block main_content %}
<div id="slideshow" class="grid_12">
    <div id="slide_container">
        {% for i in 12345|make_list %}
        <div id="slide_{{forloop.counter0}}" class="slide_contents">
            <img class="slide_img" src="{{STATIC_URL}}slider_test/img{{forloop.counter0}}.jpg"/>
            <a href="{% url 'main.home_views.front_page' %}">
                <div class="slide_text s_{{forloop.counter0}}"><b>Galois Theory with Donuts:</b> 10pm Simmons common room</div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div id="doppleganger">
        {% for i in 12345|make_list %}
        <div id="dopple_{{forloop.counter0}}" class="dopple">
        </div>
        {% endfor %}
    </div>
</div>
<div class="clear"></div>
<div class="page_text grid_4">
    <div class="text_block">
        <h3>InTheLoop</h3> makes it easy for you to find pset parties and connect with your friends. Want to instantly see the hottest pset parties on campus?
    </div>
    <img src="{% static 'images/interact.png' %}" class="hcenter"/>
    <a href="{% url 'main.search_views.parties_by_date' %}" class="large_gray_button hcenter nofloat">Find Parties Now</a>
</div>
<div class="page_text grid_4">
    <div class="text_block">
        <h3>Has the party started?</h3> Advertize ongoing pset parties or schedule future parties using our time-saving map interface.
    </div>
    <img src="{% static 'images/school.png' %}" class="hcenter"/>
    <a href="{% url 'main.party_views.party_create' %}" class="large_gray_button hcenter nofloat">Create a Party</a>
</div>
<div class="page_text grid_4">
    <div class="text_block">
        <h3>Sign up</h3> to receive emails and recommendations based on your class schedule. It's completely free!
    </div>
    {% include 'main/account/create_account_form.html' %}
</div>
<div class="clear"></div>
<div class="grid_10 prefix_1 suffix_1"><div class="hline"></div></div>
<div class="clear"></div>
<div class="page_text grid_4">
    <h2 class="center">WHaddup?</h2>
</div>
<div class="page_text grid_4">
    <div class="ticker_header">Hottest Parties</div>
    {% with ticker=hottest_parties %}
    {% include 'main/party/party_ticker.html' %}
    {% endwith %}
</div>
<div class="page_text grid_4">
    <div class="ticker_header">Hottest Classes</div>
    {% with ticker=hottest_classes %}
    {% include 'main/party/party_ticker.html' %}
    {% endwith %}
</div>
<div class="clear"></div>
{% endblock %}
