{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static 'js/geolocation.js'%}" type="text/javascript"></script>
<script type="text/javascript">
    party_list = {{party_list|safe}};
</script>
<script src="{% static 'js/home_page.js'%}" type="text/javascript"></script>

<img class="grid_12 splash" src="{% static 'images/loop.png' %}" />
<div class="clear"></div>
<div class="space_40"></div>

<div class="grid_12 details_panel">
    <div class="page_header nounderline clearfix">
        <img src="{% static 'images/css/icons/cup32.png'%}"/>
        <span class="header_text" style="max-width: 600px;">Welcome {{user.get_name}}</span>
    </div>
</div>
<div class="grid_6">
    <div class="grid_3 alpha">
        <div id="mapdiv" style="width: 220px; height: 120px;"></div>
    </div>
    <div class="grid_3 omega">
        <div class="center">
            <span class="hcenter plain_text"><b style="font-size: 20px;">{{numparties}}</b> {% if numparties = 1 %}party{%else%}parties{%endif%}</span>
            recommended for you
        </div>
        <div class="space_20"></div>
        <a href="{% url 'main.search_views.personalized_map' %}" class="gray_button hcenter">Recommended Parties</a>
    </div>
    <div class="clear"></div>
    <div class="space_20"></div>
    <div class="page_text grid_3 alpha">
        <a href="{% url 'main.search_views.parties_by_date' %}" class="large_gray_button hcenter nofloat">Find Parties</a>
    </div>
    <div class="page_text grid_3 omega">
        <a href="{% url 'main.party_views.party_create' %}" class="large_gray_button hcenter nofloat">Create a Party</a>
    </div>
</div>
<div class="grid_6">
    <div class="page_header clearfix">
        <img src="{% static 'images/css/icons/mapleleaf32.png'%}"/>
        <span class="header_text">My Classes</span>
    </div>
    <ul class="page_list">
        {% for k in myclasses %}
        <li class="clearfix">
        <a class="user_select clearfix" href="{{k.ob.get_link}}">
            <img src="{{k.ob.get_image}}" class="user_thm" />
            <span class="list_text" style="width: 310px;">{{k.ob.get_name}}</span>
            <span class="list_text">{{k.n}} {% if k.n = 1 %}party{% else %}parties{% endif %}</span>
        </a>
        </li>
        {% empty %}
        <li class="clearfix">
        <img src="{% static 'images/css/icons/unsmile32.png' %}" class="news_icon" />
        <span class="list_text">You haven't added any classes yet.<br/>Go to the <b><a href="{% url 'main.search_views.search_page' %}" >Search Page</a></b> to find and add classes</span>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="clear"></div>
<div class="space_80"></div>
<div class="grid_4">
    <div class="people_header clearfix">
        <img src="{% static 'images/css/icons/gear32.png'%}"/>
        <span class="header_text">Parties I'm Hosting</span>
    </div>
    <ul class="page_list">
        {% for h in party_host %}
        <li class="clearfix">
        <a class="user_select clearfix" href="{{h.get_link}}">
            <img src="{{h.get_image}}" class="user_thm" />
            <span class="list_text">{{h.get_name}}</span>
            <span class="fright"> 
                <span class="list_text">{{h.get_day}}</span>
            </span>
        </a>
        </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with history=calendar %}
        {% include 'main/party/history_list.html' %}
        {% endwith %}
    </div>
</div>
<div class="grid_8">
    <div>
        {% with feed=newsfeed %}
        {% include 'main/modules/feed_list.html' %}
        {% endwith %}
    </div>
    <div class="clear"></div>
    <div class="space_40"></div>
</div>

{% endblock %}
