@import 'base';

div#feed{

width:400px;
height:300px;
margin-left:10px;
margin-top:20px;

    ul{
        list-style-type:disc;

        li{
          margin-left:30px;
        }
        a{
            display:           block;
            background-color:  $hue1-light;
            margin-bottom: 5px;
            &:active{
                position: relative;
                left: 1px;
                top: 1px;
                @include box-shadow(none);
            }
        }
        &:last-child a{
            margin-bottom: 0px;
        }
      }
}
