@import "base";

.page_text{
    line-height: 24px;
    font-size: 18px;
    h1, h2, h3{
        color: $hue1-mid-dark;
    }
    div{
        margin-bottom: 20px;
    }
    h1{
        font-size: 35;
        margin: 0px 0px 25px 0px;
        &.underlined{
            padding-bottom: 8px;
            margin-bottom: 15px;
            border-top: none;
            border-bottom: 2px solid $hue1-mid-dark;
        }
    }
    h2{
        font-size: 24px;
        margin: 0px 0px 10px 0px;
    }
    h3{
        display: inline;
        font-size: 24px;
    }
    .right{
        text-align: right;
    }
    img{
        margin-bottom: 20px;
    }
}
