{% extends 'main/map/wide_map.html' %}
{% load url from future %}{% load staticfiles %}

{% block container_class %}create_party{% endblock %}
{% block container_contents %}
<img src="" class="building_img"/>
<div class="blah">
    <label>Building: </label><input type="text"  class="limit_text large_gray_text_box" ref="40" name="location" value="{{form.location.value}}" />
    <div class="clear"></div>
    <label>Room: </label><input type="text" name="room" class="label_if_blank limit_text large_gray_text_box" ref="30" title="eg. Reading Room" value="{{form.room.value}}" />
    <input type="hidden" name="lng" value="{{form.lng.value}}" />
    <input type="hidden" name="lat" value="{{form.lat.value}}" />
    <input type="hidden" name="building_img" value="{{form.building_img.value}}" />
    <input type="hidden" name="pk" val="" />
</div>
{% endblock %}
