{% extends 'main/map/wide_map.html' %}
{% load url from future %}{% load staticfiles %}

{% block container_class %}party_details{% endblock %}
{% block container_contents %}
<img src="http://web.mit.edu/campus-map/objimgs/object-W16.thumb.jpg" class="building_img"/>
<div class="blah">
    <span class="title">No Party Selected</span>
    <a class="details inset_gray_button">Details</a>
    <span class="location_row">
        <span class="bldg_number"></span>,
        <span class="location"></span>
    </span>
    <span class="class_numbers"></span>
    <span class="class_title"></span>
    <span class="description"></span>
    <span class="time_row">
        <span class="day_name"></span>,
        <span class="start_time"></span> -
        <span class="end_time"></span>
    </span>
    <span class="attending_block"><span class="friends_attending"></span> friends attending</span>
    <span class="attend_button_container_container clearfix"><span>
        </div>
        {% endblock %}
