{% extends 'main/map/wide_map.html' %}
{% load url from future %}{% load staticfiles %}

{% block container_class %}party_details{% endblock %}
{% block container_contents %}
<img src="http://web.mit.edu/campus-map/objimgs/object-7.thumb.jpg" class="building_img"/>
<div class="blah">
    <span class="title">No Party Selected</span>
    <span class="class_title"></span>
    <span class="location"></span>
    <span class="room"></span>
    <span class="agenda"></span>
    <a class="details gray_button">Details</a>
    <span class="attend_button_container_container clearfix"><span>
</div>
{% endblock %}
