
<!--Google +1 button-->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone size="medium" href="pset.babymastodon.com"></g:plusone>
<!--Twitter share button-->
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!--Facebook like button -->
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpset.babymastodon.com&amp;send=false&amp;layout=button_count&amp;
    width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21&amp;appId=312191378824613" 
    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
