<div> 
  <br>
  <br>
  <table width="750px" cellpadding="0" cellspacing="0" style="margin-left:auto; margin-right:auto; font-family:arial, sans-serif;">
    <tbody>
      <tr>
        <td style="border:1px solid #cccccc; padding:10px; border-radius: 20px 20px 20px 20px">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="1%" style="padding-right:12px;"><td>
                <td width="100%" colspan="3"><h1 style="margin-right:10px;font-size:28px;font-weight:normal;color:#2461aa;padding-bottom:0em">
                    You're Invited to InTheLoop!</h1></td>
              </tr>
            </tbody>
          </table>
          {% WEBROOT='http://pset.babymastodon.com' %}
          <table width="100%"><tbody><tr><td>
            <table width="450px" border="0" cellpadding="0" cellspacing="0" style="padding:12px;padding-top:5px">
              <tbody><tr><td colspan="2" style="padding-bottom:20px;">
                    <p>
                    {{username}} has invited you to {{event}} on InTheLoop
                    </p>
                    <p>InTheLoop makes it easy and fun to host pset parties on campus! InTheLoop has:</p></td></tr>
              <tr>
                <td valign="top" style="padding-bottom:5px">
                  <img src="http://pset.babymastodon.static/images/email_icons/clock.png" style="padding-right:5px;"></td>
                <td valign="top" style="padding-bottom:5px;padding-left:5px">
                  <p style="margin-top:0px;padding-top:0px;">
                  <strong>Real-Time Party Map</strong><br>
                Browse the parties happening <em>now</em> through our <em>Google Maps Party Visualization page</p></p></td>
              </tr>
              <tr>
                <td valign="top" style="padding-bottom:5px">
                  <img src="http://pset.babymastodon.static/images/email_icons/page_search.png" style="padding-right:5px; margin-top:5px"></td>
                <td valign="top" style="padding-bottom:5px;padding-left:5px">
                  <p style="margin-top:5px;padding-top:0px">
                  <strong>Search</strong><br>
                Find and add your classes <em>quickly</em> and <em>easily</em> via our intuitive search interface</p></td>
              </tr>
              <tr>
                <td valign="top" style="padding-bottom:5px;padding-top:5px">
                  <img src="http://pset.babymastodon.static/images/email_icons/red_heart_add.png" style="padding-right:5px;margin-top:5px;"></td>
                <td valign="top" style="padding-bottom:5px;padding-left:5px">
                  <p style="margin-top:5px;padding-top:5px"><strong>Subscriptions</strong><br>
              Subscribe to your classes, friends and parties to stay in the loop on study breaks and pset parties!</p></td>
              </tr>
              <tr>
                <td valign="top">
                  <img src="http://pset.babymastodon.static/images/email_icons/users_comments.png" style="padding-right:5px;margin-top:5px;padding-top:5px;"></td>
              <td valign="top" style="padding-bottom:5px;padding-left:0px"><p style="margin-top:5px;padding-left:5px;padding-top:5px"><strong>Comments</strong><br>
              Leave comments and feedback about the parties you attended.</p></td>
              </tr>
              <tr><td colspan="2" style="padding-top:15px">
                  <p>So what are you waiting for? <a href="{{link}}">Respond Now</a></p>
            </tbody></table>
            </td>
            <td valign="top">
            <table cellpadding="0" cellspacing="0">
                    <colgroup><col style="width:1px">
                    <col>
                    <col style="width:1px">
                    </colgroup><tbody><tr>
                      <td></td>
                      <td height="1px" style="background-color:#ddd"></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td style="background-color:#ddd"></td>
                      <td align="center" background="signup_button_bg.png" style="background-color:#ddd;display:block;background-repeat:repeat-x;width:160px; font-size:150%; padding:10px"> 
                        <a href="{{link}}" style="text-decoration:none; color:#555555; 
                          text-align:middle; font-family:'angie-sans';font-weight:bold" target='_blank'>I'm attending!</a>
                      </td>
                      <td style="background-color:#ddd"></td>
                    </tr>
                   <tr>
                      <td></td>
                      <td height="1px" style="background-color:#ddd"></td>
                      <td></td>
                    </tr>
                </tbody></table>
        </td></tr></tbody></table>
          </td></tr><tr><td>
          <div style="width:100%;margin-top:10px;color:#666666;font-size:10px"><center><br>
              InTheLoop | 2012 | http://pset.babymastodon.com | Icons by <a href='http://dryicons.com'>Dryicons</a></center></div>
  </td></tr>
</tbody>
</table>
</div>

