<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>{% load staticfiles %}{% load url from future%}
<head>
    <title>{% block title %}Title - {% block subtitle %}{% endblock %}{% endblock %}</title>
    <script type="text/javascript" src="http://use.typekit.com/vbz1ezk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href="{% static "960.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{% static "screen.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="{% static "ie.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link type="image/x-icon" href="favicon.ico" rel="icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/jquery.textchange.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/ajax_csrf.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/common.js' %}" type="text/javascript"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="page" class="container_12">
        {% block header %}
        <div id="header" class="grid_12">
            <div class="grid_4 alpha logo"><a href="{% url 'main.home_views.front_page' %}" >Welcome</a></div>
            <div class="grid_4">
                <form id="top_search_box" action="{% url 'main.search_views.search_page' %}" method="get">
                    <input id="top_search_text" type="text" class="label_if_blank" title="Search for classes or people..." name="q" value="{{query}}" /><input id="top_search_button" type="submit" class="search_icon" value=""/>
                </form>
            </div>
            <div class="grid_3 prefix_1 omega">
                {% if user.is_authenticated %}
                <div id="account_menu">Hello <b>{{user.username}}</b> | <a href="{% url 'main.account_views.my_profile_page' %}">Profile</a></div>
                {% else %}
                <div id="account_menu"><a href="{% url 'main.account_views.create_account_page' %}">Create Account</a> | <a id="login_button" href="{% url 'main.account_views.login_page' %}">Login</a></div>
                <div id="login_div">
                        {% csrf_token %}
                        <form action = "{% url 'main.account_views.login_page' %}">
                        <label for='loginform_username'>Username:</label>
                        <input type='text' id='loginform_username'/>
                        <label for='loginform_password'>Password:</label>
                        <input type='password' id='loginform_password' />
                        <input type='submit' value="Login"/>
                        <a href="/forgot/">Forgot password?</a>
                        </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        <div class="clear"></div>
        {% block content %}{% endblock %}
        <div class="clear"></div>
        {% block footer %}
        <div id="footer" class="grid_12"><p><a href="mailto:me@gmail.com">Mastodon Scripts</a> &copy; 2011</p></div>
        {% endblock %}
    </div>
</body>


