{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block head %}
{{ block.super}}
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script> 
<script src="{% static 'js/bio_info.js'%}" type="text/javascript"></script>
<script type="text/javascript">
    department_choices={{department_choices|safe}};
</script>
{% endblock %}

{% block main_content %}
<div class="details_panel grid_12">
    <h1>{{title}}</h1>
    <div class="clear"></div>
    {% if error %}<div class="errors">{{error}}</div>{% endif %}
</div>
<div class="clear"></div>
<div class="space_30"></div>

<form class="clearfix" id="blah_form" enctype="multipart/form-data" name="bio_form" action="." method="POST">{% csrf_token %}

    <h3 class="grid_2 right">Password:</h3>
    <div class="grid_3">
        <a href="{% url 'main.account_views.change_password' %}" class="gray_button">Change Password</a>
    </div>


    <div class="clear"></div>
    <div class="space_10"></div>


    <h3 class="grid_2 right">Settings:</h3>
    {% for f in form %}
    <div class="clear"></div>
    <div class="space_10"></div>
    <h3 class="grid_6 right sub">{{f.label}}</h3>
    <div class="grid_3" style="padding-top: 6px;">
        {{f}}
    </div>
    {% endfor %}


    <div onclick="javascript: $('#blah_form').submit()" class="gray_button submit_button">Submit</div>
</form>
{% endblock %}
