{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<div class="details_panel grid_12">
    <h1>Reset Password</h1>
    <div class="clear"></div>
    <div class="space_30"></div>
    {% if error %}<div class="errors">{{error}}</div>{% endif %}
    <div class="people_header clearfix">
        {% if people.icon %}
        <img src="{{people.icon}}"/>
        {% else %}
        <img src="{% static 'images/css/icons/users32.png'%}"/>
        {% endif %}
        <span class="header_text">{{user.get_name}}</span>
    </div>
    <form class="clearfix" id="form" action="." method="POST">{% csrf_token %}

        <h3 class="grid_2 right">{{form.pw1.label}}</h3>
        <input type="password" name="{{form.pw1.html_name}}" class="limit_text grid_3 large_gray_text_box" title="" ref="30" value="{{form.pw1.value}}" />

        <h3 class="grid_2 right">{{form.pw2.label}}</h3>
        <input type="password" name="{{form.pw2.html_name}}" class="limit_text grid_3 large_gray_text_box" title="" ref="30" value="{{form.pw2.value}}" />

        <a href="javascript: $('#form').submit()" class="gray_button submit_button">Submit</a>
    </form>
</div>
<div class="clear"></div>
<div class="space_30"></div>
{% endblock %}
