
{% load url from future %}

<form method='post' id="signup_form" action='{% url 'main.account_views.create_account_page' %}'>
    {% csrf_token %}
    <label>{{rform.email.label}}</label>
    <input type="text" class="large_gray_text_box hcenter nofloat" name="{{rform.email.html_name}}" {% if rform.email.value %}value="{{rform.email.value}}"{%endif%}/>
    <label>{{rform.pw1.label}}</label>
    <input type="password" class="large_gray_text_box hcenter nofloat" name="{{rform.pw1.html_name}}"/>
    <label>{{rform.pw2.label}}</label>
    <input type="password" class="large_gray_text_box hcenter nofloat" name="{{rform.pw2.html_name}}" />
    <input type="submit" class="hidden" />
    <a href="javascript: $('#signup_form').submit()" class="gray_button right">Register</a>
</form>
