{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<div class="details_panel grid_12 clearfix">
    <h1>Login Page</h1>
    <div class="clear"></div>
    {% if error %}<div class="errors">{{error}}</div>{% endif %}
</div>
<div class="clear"></div>
<div class="prefix_7 grid_4">
    <div class="page_header clearfix">
        <img src="{% static 'images/css/icons/lock32.png'%}" class=/>
        <span class="header_text">MIT username</span>
    </div>
    <div class="space_20"></div>
    {% include 'main/account/login_form.html' %}
</div>
<div class="clear"></div>
<div class="prefix_1 grid_4">
    <div class="page_header clearfix">
        <img src="{% static 'images/css/icons/cup32.png'%}" class=/>
        <span class="header_text">Not Registered?</span>
    </div>
    <div class="space_40"></div>
    <a href="{% url 'main.account_views.create_account_page' %}" class="large_gray_button hcenter">Create Account</a>
</div>
{% endblock %}
