{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<div class="details_panel grid_12 clearfix">
    <h1>Bad Password Reset Link</h1>
    <div class="clear"></div>
    {% if error %}<div class="errors">{{error}}</div>{% endif %}
</div>
<div class="clear"></div>
<div class="space_30"></div>
<div class="grid_4 prefix_7">
    <div class="people_header clearfix">
        <img src="{% static 'images/css/icons/unsmile32.png'%}"/>
        <span class="header_text">Ruh Roh</span>
    </div>
    <div class="plain_text">
        Sorry, this password reset link is invalid or has expired. <a href="{% url 'main.account_views.create_account_page' %}" style="text-decoration:underline">Please re-register here.</a>
    </div>
    <div class="space_20"></div>
</div>
{% endblock %}
