{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<script type="text/javascript">
    person_pk = {{person.pk}};
</script>
<script src="{% static 'js/profile_page.js'%}" type="text/javascript"></script>

<div class="grid_3 center">
    <img src="{{person.get_image}}" class="profile_image" />
</div>
<div class="grid_9 details_panel">
    {% if private %}
    <div class="plain_text">
        <div class="space_40"></div>
        {{person.get_name}} does not want to share his/her profile with the public. Please <a href="{% url 'main.account_views.login_page' %}?next={{request.path}}"><b>Login</b></a> to continue.
    </div>
    {% else %}
    <div class="page_header nounderline clearfix">
        <img src="{% static 'images/css/icons/star32.png'%}"/>
        <span class="header_text">{{person.get_name}}'s Profile</span>
        {% if user.is_authenticated %}
        {% if user = person %}
        <a href="{% url 'main.home_views.home_page' %}" class="gray_button fright">Home</a>
        <a href="{% url 'main.account_views.account_info' %}" class="gray_button fright" style="margin-right: 10px;">Settings</a>
        <a href="{% url 'main.account_views.bio_info' %}" class="gray_button fright" style="margin-right: 10px;">Edit Profile</a>
        {% else %}
        <div id="follow" class="gray_button fright {% if following %}hidden{% endif %}">+ Follow</div>
        <div id="unfollow" class="gray_button fright {% if not following %}hidden{% endif %}">Stop Following</div>
        {% endif %}
        {% endif %}
    </div>
    <div class="whitebox clearfix grid_9 alpha omega" style="height: 150px;">
    </div>
    {% endif %}
</div>
{% if not private %}
<div class="clear"></div>
<div class="space_20"></div>
<div class="grid_4 details_panel center">
    <div class="clear"></div>
    <div class="people_header clearfix">
        {% if people.icon %}
        <img src="{{people.icon}}"/>
        {% else %}
        <img src="{% static 'images/css/icons/contactcard32.png'%}"/>
        {% endif %}
        <span class="header_text">{{person.get_name}}</span>
    </div>
    <table class="profile_panel">
        <tr><td>Department:</td><td>{{person.user_info.department}}</td></tr>
        <tr><td>Class Year:</td><td>{{person.user_info.graduation_year|default_if_none:""}}</td></tr>
        <tr><td>Join Date:</td><td>{{join_date}}</td></tr>
        <tr><td>Last Seen:</td><td>{{last_seen}}</td></tr>
        <tr><td>Bio:</td></tr>
        <tr><td colspan=2 class="bio">{{user.user_info.bio}}</td></tr>
    </table>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with people=followees %}
        {% include 'main/modules/people_list.html' %}
        {% endwith %}
    </div>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with people=followers %}
        {% include 'main/modules/people_list.html' %}
        {% endwith %}
    </div>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with history=history %}
        {% include 'main/party/history_list.html' %}
        {% endwith %}
    </div>
</div>
<div class="grid_8 details_panel">
    {% if classes %}
    <div class="page_header clearfix">
        <img src="{% static 'images/css/icons/mapleleaf32.png'%}"/>
        <span class="header_text">Is taking the following classes:</span>
    </div>
    <ul class="page_list">
        {% for item in classes %}
        <li class="clearfix">
        <img src="{{item.get_image}}" class="list_icon" />
        <span class="list_content"><b><a href="{% url 'main.class_views.class_details' pk=item.pk %}">{{item.get_name}}</a></b></span>
        </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
    <div class="space_40"></div>
    {% endif %}
    <div>
        {% with feed=newsfeed %}
        {% include 'main/modules/feed_list.html' %}
        {% endwith %}
    </div>
    <div class="clear"></div>
    <div class="space_40"></div>
    <div>
        {% with comment_header="Chatter" %}
        {% include 'main/modules/comment_list.html' %}
        {% endwith %}
    </div>
</div>
{% endif %}
{% endblock %}
