{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<div class="details_panel grid_12">
    <h1>New Account</h1>
    <div class="clear"></div>
    <div class="space_30"></div>
    {% if error %}<div class="errors">{{error}}</div>{% endif %}
</div>
<div class="grid_7 prefix_4">
    <div class="people_header clearfix">
        <img src="{% static 'images/css/icons/wand32.png'%}"/>
        <span class="header_text">Choose a password</span>
    </div>
    <form class="clearfix" id="form" action="." method="POST">{% csrf_token %}

        <h3 class="grid_3 sub">Username: {{username}}</h3>

        <div class="clear"></div>
        <div class="space_20"</div>

        <h3 class="grid_3 right">{{form.pw1.label}}</h3>
        <input type="password" name="{{form.pw1.html_name}}" class="limit_text grid_3 large_gray_text_box" title="" ref="30" value="" />

        <div class="clear"></div>
        <div class="space_10"></div>

        <h3 class="grid_3 right">{{form.pw2.label}}</h3>
        <input type="password" name="{{form.pw2.html_name}}" class="limit_text grid_3 large_gray_text_box" title="" ref="30" value="" />

        <div class="clear"></div>
        <div class="space_20"></div>

        <input type="submit" class="gray_button fright" value="Submit" />
    </form>
</div>
<div class="clear"></div>
<div class="space_30"></div>
{% endblock %}
